body {
    margin: 0px;
    background-color: #ffffc7;
}

html,
body {
    height: 100%;
}

.assistido {
    background-color: rgb(255, 240, 37);
}

div h3 {
    color: #30D5C8;
    font-family: Bradley Hand, cursive;
    font-size: 50px;
    margin: 15px;
}

div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div table {
    border-color: #30D5C8;
}

a{
    text-decoration: none;
    color: white;
}

tr, a {
    color: black;
}
